# Project Proposal

In [1]:
# set up
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 6)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

Warning message:
“package ‘ggplot2’ was built under R version 4.0.1”
Warning message:
“package ‘tibble’ was built under R version 4.0.2”
Warning message:
“package ‘tidyr’ was built under R version 4.0.2”
Warning message:
“package ‘dplyr’ was built under R version 4.0.2”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Warning message:
“package ‘tidymodels’ was built under R version 4.0.2”
── Attaching packages ────────────────────────────────────── tidymodels 0.1.1 ──

✔ broom     0.7.0      ✔ recipes   0.1.13
✔ dials     0.0.9      ✔ rsample   0.0.7
✔ infer     0.5.4      ✔ tune      0.1.1
✔ modeldata 0.0.2      ✔ workflows 0.2.0
✔ parsnip   0.1.3      ✔ yardstick 0.0.7

Warning message:
“package ‘broom’ was built under R version 4.0.2”
Warning message:
“package ‘dials’ was built under R version 4.0.2”
Warning message:
“package ‘infer’ was built under R version 4.0.3”
Warning message:
“package ‘modeldata’ was built under R version 4.0.1”
Warning message:
“package ‘parsnip’ was built under R version 4.0.2”
Warning message:
“package ‘recipes’ was built under R version 4.0.1”
Warning message:
“package ‘tune’ was built under R version 4.0.2”
Warning message:
“package ‘workflows’ was built under R version 4.0.2”
Warning message:
“package ‘yardstick’ was built under R version 4.0.2”
── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()

In [2]:
# reading in data
url <- "https://raw.githubusercontent.com/karlie-tr/dataset/main/Highest%20Holywood%20Grossing%20Movies.csv"
download.file(url, destfile = "highest-hollywood-grossing-movies.csv")
movies_data <- read_csv("highest-hollywood-grossing-movies.csv")

# remove white space in headers
colnames(movies_data) <- make.names(colnames(movies_data))
movies_data

Warning message:
“Missing column names filled in: 'X1' [1]”
Parsed with column specification:
cols(
  X1 = col_double(),
  Title = col_character(),
  `Movie Info` = col_character(),
  Distributor = col_character(),
  `Release Date` = col_character(),
  `Domestic Sales (in $)` = col_double(),
  `International Sales (in $)` = col_double(),
  `World Sales (in $)` = col_double(),
  Genre = col_character(),
  `Movie Runtime` = col_character(),
  License = col_character()
)

    X1  Title
1   0   Star Wars: Episode VII - The Force Awakens (2015)
2   1   Avengers: Endgame (2019)
3   2   Avatar (2009)
⋮   ⋮   ⋮
916 915 Eat Pray Love (2010)
917 916 The Texas Chainsaw Massacre (2003)
918 917 Zookeeper (2011)
    Movie.Info
1   As a new threat to the galaxy rises, Rey, a desert scavenger, and Finn, an ex-stormtrooper, must join Han Solo and Chewbacca to search for the one hope of restoring peace.
2   After the devastating events of Avengers: Infinity War, the universe is in ruins. With the help of remaining allies, the Avengers assemble once more in order to reverse Thanos' actions and restore balance to the universe.
3   A paraplegic Marine dispatched to the moon Pandora on a unique mission becomes torn between following his orders and protecting the world he feels is his home.
⋮   ⋮
916 A married woman realizes how unhappy her marriage really is, and that her life needs to go in a different direction. After a painful divorce, she takes off on a round-the-world journey to "find herself".
917 After picking up a traumatized young hitchhiker, five friends find themselves stalked and hunted by a deformed chainsaw-wielding loon and his family of equally psychopathic killers.
918 A group of zoo animals decide to break their code of silence in order to help their lovable zookeeper find love, without opting to leave his current job for something more illustrious.
    Distributor                         Release.Date      Domestic.Sales..in...
1   Walt Disney Studios Motion Pictures December 16, 2015 936662225
2   Walt Disney Studios Motion Pictures April 24, 2019    858373000
3   Twentieth Century Fox               December 16, 2009 760507625
⋮   ⋮                                   ⋮                 ⋮
916 Sony Pictures Entertainment (SPE)   August 13, 2010   80574010
917 New Line Cinema                     October 17, 2003  80571655
918 Sony Pictures Entertainment (SPE)   July 6, 2011      80360843
    International.Sales..in... World.Sales..in...
1   1132859475                 2069521700
2   1939128328                 2797501328
3   2086738578                 2847246203
⋮   ⋮                          ⋮
916 124020006                  204594016
917  26792250                  107363905
918  89491916                  169852759
    Genre                                        Movie.Runtime License
1   ['Action', 'Adventure', 'Sci-Fi']            2 hr 18 min   PG-13
2   ['Action', 'Adventure', 'Drama', 'Sci-Fi']   3 hr 1 min    PG-13
3   ['Action', 'Adventure', 'Fantasy', 'Sci-Fi'] 2 hr 42 min   PG-13
⋮   ⋮                                            ⋮             ⋮
916 ['Biography', 'Drama', 'Romance']            2 hr 13 min   PG-13
917 ['Crime', 'Horror']                          1 hr 38 min   R
918 ['Comedy', 'Family', 'Fantasy', 'Romance']   1 hr 42 min   PG

In [3]:
# remove unusable columns
vars <- c("Title","Distributor","Release.Date","World.Sales..in...","Genre","Movie.Runtime") # vars that we want to keep
movies_data_filtered <- movies_data %>%
                        select(all_of(vars))

# change column name
colnames(movies_data_filtered) <- c("Title", "Distributor","Release_Date","World_Sales","Genre","Runtime")

# remove all white space in dataframe
movies_data_no_space <- as.data.frame(apply(movies_data_filtered, 2, str_remove_all, " "))

# separate release year from Release_Date
movies_release_date <- separate(movies_data_no_space,
                            col = Release_Date,
                            into = c("date", "Release_Year"),
                            sep = ","
                           )

# separate release year from movie title
movies_release_date <- separate(movies_release_date,
                            col = Title,
                            into = c("Title", "year"),
                            sep = "[()]"
                           )

# filter for movies released since 2010, remove NAs
movies_2010 <- movies_release_date %>%
                    select(-date, -year) %>%
                    filter(Release_Year >= 2010) %>%
                    drop_na()
      

movies_2010

Warning message:
“Expected 2 pieces. Additional pieces discarded in 918 rows [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, ...].”

    Title                               Distributor
1   StarWars:EpisodeVII-TheForceAwakens WaltDisneyStudiosMotionPictures
2   Avengers:Endgame                    WaltDisneyStudiosMotionPictures
3   JurassicWorld                       UniversalPictures
⋮   ⋮                                   ⋮
358 Ted2                                UniversalPictures
359 EatPrayLove                         SonyPicturesEntertainment(SPE)
360 Zookeeper                           SonyPicturesEntertainment(SPE)
    Release_Year World_Sales Genre                                   Runtime
1   2015         2069521700  ['Action','Adventure','Sci-Fi']         2hr18min
2   2019         2797501328  ['Action','Adventure','Drama','Sci-Fi'] 3hr1min
3   2015         1670516444  ['Action','Adventure','Sci-Fi']         2hr4min
⋮   ⋮            ⋮           ⋮                                       ⋮
358 2015         215863606   ['Comedy']                              1hr55min
359 2010         204594016   ['Biography','Drama','Romance']         2hr13min
360 2011         169852759   ['Comedy','Family','Fantasy','Romance'] 1hr42min

In [4]:
# tidying genre column

genre_list <- movies_data %>%
    select(Genre) %>%
    # remove brackets, quotation marks, and spaces from string
    mutate(Genre = str_replace_all(string = Genre, pattern = regex("[]\\[\' ]"), replacement = "")) %>% 
    # change string into list
    mutate(Genre = as.list(strsplit(Genre, ","))) %>%
    # make a list of all unique values
    pull() %>%
    flatten() %>%
    unique()

genre_list

[[1]]
[1] "Action"

[[2]]
[1] "Adventure"

[[3]]
[1] "Sci-Fi"

[[4]]
[1] "Drama"

[[5]]
[1] "Fantasy"

[[6]]
[1] "Romance"

[[7]]
[1] "Animation"

[[8]]
[1] "Comedy"

[[9]]
[1] "Family"

[[10]]
[1] "Musical"

[[11]]
[1] "Crime"

[[12]]
[1] "Thriller"

[[13]]
[1] "War"

[[14]]
[1] "Mystery"

[[15]]
[1] "Biography"

[[16]]
[1] "Horror"

[[17]]
[1] "Sport"

[[18]]
[1] "Music"

[[19]]
[1] "History"

[[20]]
[1] "Western"

[[21]]
[1] "Documentary"

In [5]:
# tidying Runtime column
movies_2010_separate_runtime <- separate(movies_2010,
                                            col = Runtime,
                                            into = c("Runtime_hr", "Runtime_min"),
                                            sep = "hr"
                                         )
# remove min from Runtime_min
movies_2010_separate_minute <- separate(movies_2010_separate_runtime,
                                        col = Runtime_min,
                                        into = c("Runtime_min"),
                                        sep = "min"
                                       )
movies_2010_separate_minute

# change hr and time into numeric
numeric_duration <- movies_2010_separate_minute %>%
                    select(Runtime_hr, Runtime_min)

numeric_duration <- as.data.frame(apply(numeric_duration, 2, as.numeric)) %>%
                    mutate(Duration = Runtime_hr * 60 + Runtime_min)
numeric_duration

Warning message:
“Expected 1 pieces. Additional pieces discarded in 352 rows [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, ...].”

    Title                               Distributor
1   StarWars:EpisodeVII-TheForceAwakens WaltDisneyStudiosMotionPictures
2   Avengers:Endgame                    WaltDisneyStudiosMotionPictures
3   JurassicWorld                       UniversalPictures
⋮   ⋮                                   ⋮
358 Ted2                                UniversalPictures
359 EatPrayLove                         SonyPicturesEntertainment(SPE)
360 Zookeeper                           SonyPicturesEntertainment(SPE)
    Release_Year World_Sales Genre                                   Runtime_hr
1   2015         2069521700  ['Action','Adventure','Sci-Fi']         2
2   2019         2797501328  ['Action','Adventure','Drama','Sci-Fi'] 3
3   2015         1670516444  ['Action','Adventure','Sci-Fi']         2
⋮   ⋮            ⋮           ⋮                                       ⋮
358 2015         215863606   ['Comedy']                              1
359 2010         204594016   ['Biography','Drama','Romance']         2
360 2011         169852759   ['Comedy','Family','Fantasy','Romance'] 1
    Runtime_min
1   18
2   1
3   4
⋮   ⋮
358 55
359 13
360 42

    Runtime_hr Runtime_min Duration
1   2          18          138
2   3           1          181
3   2           4          124
⋮   ⋮          ⋮           ⋮
358 1          55          115
359 2          13          133
360 1          42          102